SpecialityWebService/.vs/SpecialityWebService/v16
SpecialityWebService/bin
SpecialityWebService/obj
SpecialityWebService/.vs/SpecialityWebService/v17
SpecialityProgram/bin
SpecialityProgram/obj
SpecialityWebService/.vs
SpecialityProgram/obj
testrbtree.ggb
SpecialityWebService/Resources/Vectordata/dfvejedatalarge.gml
SpecialityWebService/Resources/Vectordata/vmvejedatalarge.gml
