SpecialityWebService/.vs/SpecialityWebService/v16
SpecialityWebService/bin
SpecialityWebService/obj
SpecialityWebService/.vs/SpecialityWebService/v17
SpecialityProgram/bin
SpecialityProgram/obj
SpecialityWebService/.vs
